# cool_calculator
/home/chzh/dev/fpga/hdlbits_problems/my_projects/cool_calculator/cool_calculator.cache
/home/chzh/dev/fpga/hdlbits_problems/my_projects/cool_calculator/cool_calculator.hw
/home/chzh/dev/fpga/hdlbits_problems/my_projects/cool_calculator/cool_calculator.ip_user_files
/home/chzh/dev/fpga/hdlbits_problems/my_projects/cool_calculator/cool_calculator.runs
/home/chzh/dev/fpga/hdlbits_problems/my_projects/cool_calculator/cool_calculator.runs

# CH5
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.cache
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.gen
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.hw
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.ip_user_files
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.runs
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.sim
/home/chzh/dev/fpga/hdlbits_problems/fpga_programming_handbook/CH5/calculator/calculator.srcs/utils_1/imports